[MASTER]
suggestion-mode=yes
fail-under=9.5

[MESSAGES CONTROL]
confidence=UNDEFINED

[BASIC]
argument-naming-style=snake_case
attr-naming-style=snake_case
class-attribute-naming-style=any
class-naming-style=PascalCase
const-naming-style=UPPER_CASE
function-naming-style=snake_case
method-naming-style=snake_case
module-naming-style=snake_case
variable-naming-style=snake_case

[SIMILARITIES]
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=no
min-similarity-lines=4

[CLASSES]
exclude-protected=_help_cmd,_commands,_identify