[Unit]
Description=

[Service]
WorkingDirectory=
Restart=always
RestartSec=30
ExecStart=/usr/bin/python -O nokari
User=

[Install]
WantedBy=multi-user.target
