git+https://github.com/tandemdude/hikari-lightbulb@development
git+https://github.com/hikari-py/hikari@master
python-dotenv
python-dateutil
psutil
pytz
pillow
uvloop; os_name!="nt"
numpy
numexpr
lru-dict
colorthief
asyncpg
spotipy
sphobjinv
fuzzywuzzy[speedup]