git+https://github.com/hikari-py/hikari@master#egg=hikari[speedups]
topggpy --pre
python-dotenv
python-dateutil
psutil
pytz
pillow
uvloop; os_name!="nt"
numpy
numexpr
lru-dict
colorthief
asyncpg
spotipy
sphobjinv
parsedatetime
tabulate